.contenedorgrid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    background-color: #2196f3;
    gap: 10px;
    padding: 10px;

    &__elementohijo{
        background-color: grey;
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }

    &__elemento1{
        
        //grid-column: 1 / 5;
        grid-area: 1 / 1 / 3 / 4;
        
        
    }

    &__elemento4{
        grid-area: 3 / 1 /5 /2;
    }

    &__elemento6{
        grid-area: 3/ 3/5 /5;
    }

    /* colocación de elementos */
    &__elem1{
        grid-area: 1 /3 / 2 /4 ;
    }
    &__elem2{
        grid-area: 2/3/3/5;
    }
    &__elem3{
        grid-area: 1/1/2/2;
    }
    &__elem4{
        grid-area: 1/2/2/5;
    }
    &__elem5{
       grid-area:  2/1/3/2
    }
    &__elem6{
        grid-area: 2/2/3/3;
    }
}
